@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@100;600&display=swap');

body {
  background: $body-bg;
}

%content {
  color: $black;
  font-family: $font-family-text;
  font-style: normal;
}

%h1 {
  color: $black;
  font-family: $font-family-title;
  font-style: normal;
  font-weight: bold;
}
