footer {
  margin: rem(88) auto rem(69) auto;

  p {
    color: $gray;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: rem(14);
    line-height: rem(17);
    text-align: center;
  }
}
